.page-footer-item__webstudio-down {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--pure-white);
    cursor: pointer;
} 

.page-header__webstudio-up {
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}