:root {
    --pure-white: #FFFFFF;
    --white: #F5F4FA;
    --grey-dark: #212121;
    --grey: #757575;
    --hover: #2196F3;
}

body {
    font-family: 'Roboto', 'Relaway', sans-serif;
    font-style: normal;
    background: #FFFFFF;
}